stages:
  - build
  - test
  - deploy

variables:
  REL_CWIPC_UTIL: --release exp-multicam-tiling-7
  # REL_CWIPC_UTIL: ""
build_linux:
  stage: build
  tags:
    - ubuntu1804
  variables:
    DEBIAN_FRONTEND: noninteractive
  before_script:
# Install and update debian packages
    - apt-get update
    - apt-get install -y tzdata
    - apt-get install -y software-properties-common
    - apt-get install -y git
    - apt-get install -y cmake
    - apt-get install -y libpcl-dev libpcl-common1.8 libpcl-io1.8
    - apt-get install -y libturbojpeg0-dev
# Install Deployment repo and dependencies
    - apt-get install -y python3-pip
    - python3 -m pip install requests mechanize
    - mkdir deployment-helpers
    - cd deployment-helpers
    - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@baltig.viaccess-orca.com:8443/VRT/deployment-group/Deployment
    - cd ..
# Get and install cwipc_util
    - python3 deployment-helpers/Deployment/getReleaseFromGitLab --cicd --project_name cwipc_util $REL_CWIPC_UTIL
    - tar --directory /usr/local -xvf cwipc_util_ubuntu1804_*.tgz
  script:
    - mkdir -p build
    - mkdir -p dist-ubuntu1804
    - cd build
    - cmake ..
    - make
    - make test
    - make install DESTDIR=../dist-ubuntu1804
    - cd ..
    - tar --directory dist-ubuntu1804/usr/local -cvaf cwipc_codec_ubuntu1804_$CI_BUILD_TAG.tgz .
  artifacts:
    paths:
      - cwipc_codec_ubuntu1804_$CI_BUILD_TAG.tgz
      
build_osx:
  stage: build
  tags:
  - osx1012
  before_script:
    - brew install pkg-config || true # brew upgrade pkg-config
    - brew install cmake || true # brew upgrade cmake
    - brew install jpeg-turbo || true # brew upgrade jpeg-turbo
    - brew unlink jpeg
    - brew link --force jpeg-turbo
    - brew install pcl || true # brew upgrade pcl
# Install Deployment repo and dependencies
    - python3 -m pip install requests mechanize
    - mkdir deployment-helpers
    - cd deployment-helpers
    - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@baltig.viaccess-orca.com:8443/VRT/deployment-group/Deployment
    - cd ..
# Get and install cwipc_util
    - python3 deployment-helpers/Deployment/getReleaseFromGitLab --cicd --project_name cwipc_util $REL_CWIPC_UTIL
    - tar --directory /usr/local -xvmf cwipc_util_osx1012_*.tgz
  script:
    - mkdir -p build
    - mkdir -p dist-osx1012
    - cd build
    - cmake ..
    - make
    - make test
    - make install DESTDIR=../dist-osx1012
    - cd ..
    - tar --directory dist-osx1012/usr/local -z -cvf cwipc_codec_osx1012_$CI_BUILD_TAG.tgz .
  artifacts:
    paths:
      - cwipc_codec_osx1012_$CI_BUILD_TAG.tgz
      
build_win:
  stage: build
  tags:
    - win10
  before_script:
    - mkdir -p /cygdrive/c/dist-win/installed
# Install Deployment repo and dependencies
    - python -m pip install requests mechanize
    - mkdir deployment-helpers
    - cd deployment-helpers
    - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@baltig.viaccess-orca.com:8443/VRT/deployment-group/Deployment
    - cd ..
# Get and install cwipc_util
    - python deployment-helpers/Deployment/getReleaseFromGitLab --cicd --project_name cwipc_util $REL_CWIPC_UTIL
    - (zipfile=$PWD/cwipc_util_win1064_*.zip && cd /cygdrive/c/dist-win && unzip $zipfile)
  script:
    - mkdir -p build
    - export ziplocation=$(pwd)/cwipc_codec_win1064_$CI_BUILD_TAG.zip
    - cd build
    - cmake .. -G "Visual Studio 15 2017 Win64" -DCMAKE_INSTALL_PREFIX="C:/dist-win/installed" -DJPEG_Turbo_INCLUDE_DIR="C:/libjpeg-turbo64/include" -DJPEG_Turbo_LIBRARY="C:/libjpeg-turbo64/lib/jpeg.lib"
    - cmake --build . --config Release
    - cmake --build . --config Release --target RUN_TESTS
    - cmake --build . --config Release --target INSTALL
    - (cd /cygdrive/c/dist-win && zip -r $ziplocation installed)
  artifacts:
    paths:
      - cwipc_codec_win1064_$CI_BUILD_TAG.zip
      
deploy_all:
  stage: deploy
  tags:
    - linux
  only: 
    - tags
  dependencies: 
    - build_linux
    - build_osx
    - build_win
  before_script:
  - apt-get update
  - apt-get install -y python3-pip
  - python3 -m pip install requests
  - mkdir deployment-helpers
  - cd deployment-helpers
  - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@baltig.viaccess-orca.com:8443/VRT/deployment-group/Deployment
  - cd ..
  script:
    - mkdir deliverables
    - mv cwipc_codec_osx1012_$CI_BUILD_TAG.tgz cwipc_codec_ubuntu1804_$CI_BUILD_TAG.tgz cwipc_codec_win1064_$CI_BUILD_TAG.zip deliverables
    - python3 deployment-helpers/Deployment/addReleaseToGitLab --cicd --notag cwipc_codec_osx1012_$CI_BUILD_TAG.tgz cwipc_codec_ubuntu1804_$CI_BUILD_TAG.tgz cwipc_codec_win1064_$CI_BUILD_TAG.zip
